[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "4.0"
django-environ = "0.8"
djangorestframework = "3.13"
django-cors-headers = "*"
django-money = "2.1"
pillow = "8.4.0"
dj-rest-auth = "2.2.1"
django-allauth = "0.47"
redis = "4.0.2"
django-redis = "5.2"
hiredis = "2.0.0"
celery = "==5.2.1"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
