.landing-hero-photo {
  border-radius: 1rem;
}

.landing-heading {
  font-size: 3.2rem;
  line-height: 3.5rem;
  font-weight: bolder;
}

.landing-hero-paragraph {
  color: var(--bs-gray-500);
}

.landing-contents {
  background-size: 100% auto;
  height: 500px;
}

.landing-contents p {
  color: var(--bs-gray-200);
}

@media screen and (max-width: 750px) {
  .landing-contents {
    background-size: auto 100%;
  }
}

.landing-paragraph {
  font-size: 1.2rem;
  color: var(--bs-gray-500);
}

.landing-features .card {
  padding: 40px 20px;
  /* height: 300px; */
  /* min-height: 300px; */
  max-height: 700px;
  border-radius: 10px;
}

.landing-features-icon {
  color: rgb(197, 2, 2);
  margin-bottom: 25px;
}

.landing-features .card h4 {
  margin-bottom: 20px;
}

.card-paragraph {
  font-weight: 300;
  color: var(--bs-gray-500);
}

.landing-product-img {
  border-radius: 15px;
  padding: 5px;
  /* Bootstrap fluid */
  max-width: 100%;
  height: auto;
  object-fit: cover;
  height: 250px;
}

.landing-call-to-action {
  background-image: url("../assets/img/photos/strawberry-pattern.jpg");
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  padding: 50px 20px;
}

.landing-call-to-action .get-started {
  text-transform: uppercase;
}

.landing-call-to-action h3 {
  font-size: 3rem;
}
