.landing-hero-photo {
    border-radius: 1rem;
}

.landing-heading {
    font-size: 2.2rem;
    line-height: 3.5rem;
    font-weight: bolder;
}

.landing-hero-paragraph {
    color: var(--bs-gray-500);
}

.landing-contents {
    background-size: 100% auto;
    height: 500px;
}

.landing-contents p {
    color: var(--bs-gray-200)
}

@media screen and (max-width: 750px) {
    .landing-contents {
        background-size: auto 100%;
    }
}

.landing-paragraph {
    font-size: 1.2rem;
    color: var(--bs-gray-500)
}

.landing-features .card {
    padding: 40px 20px;
    height: 350px;
    border-radius: 10px;
}

.landing-features-icon {
    margin-bottom: 20px;
}

.landing-features .card h3 {
    margin-bottom: 30px;
}