
.table {
    font-size: 14px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;

    > thead {
        vertical-align: middle;

        > th {
            font-weight: .1;
        }
    }
}
